doctype html
html(lang="en")
  head
    meta(charset="UTFs-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title COTD
    link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.11/mvp.css")
  body 
    header
      h1 Color Of The Day
    main
      button zz
      div
    script(src="https://unpkg.com/axios@0.26.1/dist/axios.min.js")
    script(src="../public/js/app.js")