<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>COTD</title>
  <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.11/mvp.css">

</head>
<body>
  <header>Color Of The Day</header>
  <main>
    <button>zz</button>
    <div>123</div>
  </main>
  <script src="https://unpkg.com/axios@0.26.1/dist/axios.min.js"></script>
  <script src="../src/public/js/app.js"></script>
</body>
</html>

