:root {
  --width-content: 80%;
  --justify-important: left;
}

header {
  height: 10vh;
  padding: 0;
  padding-top: 2em;
}

header span {
  margin-left: 1em;
  font-size: 30px;
}

main {
  padding : 0;
  height: 80vh;
}
.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto ;
  grid-template-rows: 90% 10% ;
  position: relative;
}

.grid-container > div {
  position: relative;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  border: 1px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  top: 38%;
  left: 25%;
  width: 40%;
  height: 20%;

  position: absolute;
  padding: 20px 15px 10px 15px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  animation-duration: 1s;
  animation-name: fade_in;
}

.grid-container > div:hover .color{
  border: 2px solid white;
  transition: all 0.5s;
}

.grid-container > div:hover .color .copy {
  display: block;
}

.color-name span {
  display: none;
}

.copy {
  display: none;
  padding-top: 22px;
}

.weather { 
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 25px;
  font-size: 20px;
  width: 200px; 
  float: right; 
  text-align: center;
}

.refresh1, .refresh2 {
  width: 25%;
  margin: auto;
  text-align: center;
  font-size: 3em;
  cursor: pointer;
}

@keyframes fade_in {
  from {
      margin-top:2%;
      opacity: 0.5;
    }
  
    to {
      display:block;
      margin-top:0%;
      opacity: 1;
    }
}